* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}
/* Estilos Login y registro */
.mensaje{
  text-align: center;
}
.card{
  margin-top: 8%;
} 
.imgLogin{
position: relative;
width: 60%;
height: 60%;
left: 83px;
top: 0px;
border-radius: 10px;
}
.contenedorLogo {
  width: 60%;
}
.contenedorLogo, .card-body{
  margin:auto;
	text-align:center;
}
.imgLogo {

border-radius: 52px;
margin: auto;
max-width: 100%;
width: 50%;
height: 60%;
margin-top:  10%; 
margin-bottom:0;
}
.error {
  padding: 10px;
  margin: 10px 0;
  background-color: rgba(255, 0, 0, 0.658);
  color: white;
  font-size: bolder;
  text-align: center;
}
.loginGmail{
  
position: absolute;
width: 40px;
height: 27px;
left: 138px;
margin-top: 25px;

}
.btnGoogle{
  position: relative;
 
}
.linkMess{
  font-size: 22px;
  font-family: inherit;
  font-weight: bold;
}

/* Estilos Home */

.texFavoritos{
  color: #0b1150;
  font-size: 32px;
  font-family: inherit;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}

.favoritos{
position: absolute;
width: 259px;
height: 6502px;
margin-left: 968px;
top: 520px;
background-color: rgb(121, 163, 202);
border-radius: 30px;
}

.conteoFavoritos{
  font-size: 20px;
  text-align: center;
  color: #0b115083;
  list-style: none ;
}
.btnFavorites{
background-color: rgba(255, 172, 172, .3);
border: 0;
border-radius: 100px;
cursor: pointer;
width: 30px;
height: 30px;
transition: all .3s ease;
position: absolute;
margin-left: 270px;
margin-top: 15px;


}
.btnFavorites :hover {
  background-color: rgba(255, 172, 172, .8);
  border-radius: 100px;
}

.imgHome{
position: absolute;
width: 20%;
height: 30%;
border-radius: 10px;
left: 79px;
top: 30px;
}
.mssPrincipal{

 display: flex;

}
.bienvenida{
  margin-top: 2%;
}
.usuario{
  color: rgb(235, 156, 10);
}
.usuario {
  font-size: 22px;
  font-family: inherit;
  font-weight: bold;
  margin-top: 4%;
  margin-left: 1%;
}
.btnLogout{
 text-align: right;
 position: relative;
 margin-top: 10%;


}

.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.card-header{
  margin-bottom: 0.2em;
  padding: 1em;
  border-radius: 3px;
  border: 1px solid rgb(103, 190, 161);
  cursor: pointer;
  font-size: 00.9em;
} 

footer{   
  position: fixed;
  bottom: 0px;
  width: 100vw;
  display: flex;
  align-items: center;
  background: rgba(17, 215, 179, 1);
}
footer a{
  color: #222220;
  font-size: 12px;
  cursor: pointer;
  margin-left: 15px;
}
footer img {
  margin-left: 605px;
  width: 2%;
  height: 2%;
}

